body {
  font-family: Poppins;
}

svg {
  font: 10px sans-serif;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}

select {
  padding: 6px 12px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}

option {
  padding: 6px 12px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  pointer-events: all;
}

/*.foreground path {
  fill: none;
  stroke: steelblue;
} */
form {
  margin: 16px 32px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 0px 20px;
}

.continents {
  margin: 16px 70px;
  display: none;
}

i {
  font-size: 14px;
}

.America {
  color: rgb(31, 119, 180);
}

.Europe {
  color: rgb(148, 103, 189);
}

.Asia {
  color: rgb(255, 127, 14);
}

.Oceania {
  color: rgb(44, 160, 44);
}

.Africa {
  color: rgb(214, 39, 40);
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  margin: 16px 32px;
}

.btn:hover {
  background-color: WhiteSmoke
}

.btn:active {
  background-color: grey;
  color: white;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
